body {
    background: #edc4b3;
    font-family: 'Nunito', sans-serif;
}
.blurb h2 {
    color: #774936;
    font-size: 2.5rem;
}
.blurb p {
    color: #8a5a44;
    font-size: 1.125rem;
    line-height: 2;
}
.content {
    margin-top: 50px;
}
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 400;
}
#mainNavbar .navbar-brand{
    color: #774936;
    font-size: 1.5rem;
    font-weight: 400;
}
#mainNavbar .nav-link{
    color: white;
}
#mainNavbar .nav-link:hover{
    color: #774936;
}
#headingGroup span {
    color: #774936;
}
#headingGroup h1 {
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: 0.1em;
}
@media (max-width:1300px) {
    #headingGroup h1 {
        font-size: 3rem;
        font-weight: 100;
    }
}